@import "compass/typography";
@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }

dt { font-weight: 700; }

strong {
  font-weight: 700;
}

body {
  font-family: "Source Sans Pro", sasns-serif;
}

main {
  @include rhythm;
  margin-top: 0;
  h1 {
    text-align: center;
  }
  h1,h2,h3,h4,h5,h6 {
    @include rhythm;
    text-transform: uppercase;
  }
  p {
    @include rhythm;
  }
  dl {
    @include rhythm;
  }

  &.page {
    font-weight: 300;
    h1 {
      font-weight: 400;
      @include rhythm-borders;
      border: none;
    }
    .content {
      .field-name-field-page-intro {
        @include adjust-font-size-to(19px, 1.5);
        @include rhythm-borders;
        border: none;
        border-bottom: solid 1px $green-d1;
        p {
          font-weight: 400;
        }
      }
      article.equipo {
        text-align: center;
        @include rhythm;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
        .caption {
          @include rhythm-borders;
          border: none;
          width: 100%;
          background-color: rgba($green-base,0.8);
          //@include adjust-font-size-to(12px, 1.5);
          h1, h2 {
            @include adjust-font-size-to(16px, 1.5);
            @include rhythm(0);
          }
          a.social {
          }
        }
      }
    }
  }
}

footer {
  @include rhythm-borders;
  border: none;
  font-weight: 300;
  .block {
    @include rhythm-borders;
    border: none;
    border-right: dotted 1px $green-d0;
    h2 {
      @include rhythm;
      margin-top: 0;
      font-weight: 700;
      font-size: 1.2em;
    }
  }
}
