@import "compass/reset";

@import "colors";
@import "typography";

body {
  font-family: "Source Sans Pro", sasns-serif;
}

h1 { @include adjust-font-size-to(2.5em); }
h2 { @include adjust-font-size-to(2.2em); }
h3 { @include adjust-font-size-to(1.9em); }
h4 { @include adjust-font-size-to(1.6em); }
h5 { @include adjust-font-size-to(1.3em); }
h6 { @include adjust-font-size-to(1.1em); }

a,
a:visited {
  color: $green-d1;
}

a:hover,
a:focus {
  color: $green-d0;
}

p {
  //color: $green-base;
}

dt { font-weight: 700; }

strong {
  font-weight: 700;
  color: $green-d0;
}

em {
  font-style: italic;
}

input,
textarea,
select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #acacac;
  box-sizing: border-box;
  color: #666;
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
  padding: 0.375em 0.625em;
}
input[type="submit"] {
  background-color: $green-base;
  border: medium none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125em;
  padding: 0.375em 0.75em;
  font-weight: 400;
  &:hover {
    background-color: $green-d0;
  }

}

/**
 * Region Header
 */
.region.region-header {
  margin: 1em 0;
  overflow: hidden;
}

/**
 * Menú
 */
#main-menu.navbar {
  border-top:0;
  margin-bottom: 0;
  background-color: rgba(white, 0.9);
  width: 100%;
  z-index: 100;
  .navbar-header {
    padding-bottom: 50px;
    .navbar-brand {
      padding: 0;
    }
  }
  .navbar-nav {
  }
  #navbar-main-menu {
    text-transform: uppercase;
    font-weight: 700;
    @media (min-width: 768px) {
      //margin-bottom: 1em;
      margin-top: 1.5em;
      .active-trail {
        a {
          border-bottom: solid 3px rgba($green-base,1);
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }
}

main {
  //font-weight: 300;
  @include rhythm;
  margin-top: 0;
  h1 {
    @include rhythm(2);
    line-height: 2.25em;
    text-align: center;
    span {
      padding: 0.5em;
      background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
  }
  p {
    @include rhythm;
  }
  dl {
    @include rhythm;
  }
  .container-fluid.bg-green {
    background-color: $green-base;
    color: white;
    margin-bottom: 1.5em;
  }
  &.page {
    //font-weight: 300;
    .container-fluid.bg-green {
      //@include background($green-base image-url("/sites/all/themes/tkn01/a/i/truck_1.jpg"));
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;
      h1 {
        //color: white;
      }
    }

    .content {
      .field-name-field-page-intro {
        @include adjust-font-size-to(19px, 1.5);
        @include rhythm-borders;
        border: none;
        border-bottom: solid 1px $green-d1;
        p {
          font-weight: 400;
        }
      }
      .field-name-body {
        @include rhythm;
      }
      article.equipo {
        text-align: center;
        @include rhythm;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
        .caption {
          @include rhythm-borders;
          border: none;
          width: 100%;
          background-color: rgba($green-base,0.2);
          //@include adjust-font-size-to(12px, 1.5);
          h1, h2 {
            @include adjust-font-size-to(16px, 1.5);
            @include rhythm(0);
          }
          a.social {
          }
        }
      }
    }
  }
}

/**
 * Sidebar First
 */
.region-sidebar-first {
   @include adjust-font-size-to(14px);
  .block {
    margin-bottom: 2.8125em;
    h2 {
      @include adjust-font-size-to(18px);
      font-weight: 700;
      margin-bottom: 1.25em;
    }
    dl {
      dt {
        display: none;
      }
    }
    dd,
    li {
      margin-bottom: 0.3125em;
      &::before {
        font-family: Fontawesome;
        content: "\f105\0000a0";
      }
    }
  }
  #block-block-1 {
    dd {
      &::before {
        content: "";
      }
    }
  }
}

/**
 * Footer
 */
footer {
  overflow: hidden;
  @include rhythm-borders;
  border: none;
  font-weight: 300;
  background-color: $gris-oscuro;
  color: $green-l0;
  a,
  a:visited {
    color: $green-l1;
  }
  a:hover,
  a:focus {
    color: $green-l0;
  }
  dl {
    dt {
      display: none;
    }
  }
  .block {
    @include rhythm-borders;
    border: none;
    border-bottom: dotted 1px $green-d0;
    @media (min-width: 768px) {
      border-bottom: none;
      border-right: dotted 1px $green-d0;
    }
    h2 {
      @include rhythm;
      margin-top: 0;
      font-weight: 700;
      font-size: 1.2em;
    }
  }
  #block-block-2 {
    li::before {
      font-family: Fontawesome;
      content: "\f105\0000a0";
    }
  }
}

/**
 * News
 */
/*
.view-news {
  @include rhythm;
  margin-top: 0;
  .views-row {
    @include rhythm;
  margin-top: 0;
  }
}
*/
.node-post {
  padding-bottom: 2.5em;
  margin-bottom: 2.5em;
  border-bottom: 1px dotted #ccc;
  img {
    margin-bottom: 1em;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: justify;
    font-weight: 700;
    text-transform: none;
    font-size: 1.5em;
    line-height: 1.625em;
  }
  .post-date {
    float: left;
    width: 6.25em;
    .day {
      margin: 0;
      background-color: #fcfcfc;
      color: #333;
      font-size: 36px;
      font-weight: 800;
      line-height: 36px;
      padding: 20px 30px;
      text-align: center;
    }
    .month {
      margin: 0;
      color: #fff;
      background-color: $green-base;
      font-weight: 700;
      padding: 5px 10px;
      text-align: center;
      text-transform: uppercase;
    }
    @media only screen and (max-width: 767px) and (min-width: 480px) {
      width: 70px;
      .day {
        padding: 10px;
        font-size: 21px;
      }
      .month {
        padding: 5px;
        font-size: 13px;
      }
    }
  }
  .content {
    padding-left: 8.125em;
    h3 {
      margin-bottom: 1.5em;
      font-weight: 700;
      text-transform: none;
      font-size: 1.5em;
      line-height: 1.625em;
    }
    p {
      text-align: justify;
    }
    .node-readmore {
      float: right;
      transition: all 0.2s ease 0s;
        &:hover {
          transform: translate(-0.5em,0);
        }
      a {
        position: relative;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: $green-base;
        &:hover {
          //transform: translate(500px, 10);
          &::after {
            font-family: Fontawesome;
            content: "\0000a0\f105";
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .content {
      padding-left: 90px;
    }
  }
}

/**
 * Google map
 */
#map-canvas {
  height: 400px;
  img {
    max-width: inherit;
  }
}
