/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../scss/_colors.scss */
a,
a:visited {
  color: #405200;
}

/* line 18, ../../scss/_colors.scss */
a:hover,
a:focus {
  color: #718f00;
}

/* line 26, ../../scss/_colors.scss */
strong {
  color: #718f00;
}

/* line 30, ../../scss/_colors.scss */
.container-fluid.bg-green {
  background-color: #a2cd00;
}

/* line 34, ../../scss/_colors.scss */
.navbar {
  background-color: white;
}

/* line 39, ../../scss/_colors.scss */
main.page .container-fluid.bg-green {
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}
/* line 44, ../../scss/_colors.scss */
main.page .container-fluid.bg-green h1 {
  color: white;
}

/* line 50, ../../scss/_colors.scss */
footer {
  background-color: #333;
  color: #bddc4c;
}
/* line 53, ../../scss/_colors.scss */
footer a,
footer a:visited {
  color: #d9eb99;
}
/* line 57, ../../scss/_colors.scss */
footer a:hover,
footer a:focus {
  color: #bddc4c;
}
/* line 62, ../../scss/_colors.scss */
footer dl dt {
  display: none;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 8, ../../scss/_typography.scss */
body {
  font-family: "Source Sans Pro", sasns-serif;
}

/* line 12, ../../scss/_typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

/* line 13, ../../scss/_typography.scss */
h2 {
  font-size: 2.2em;
  line-height: 1.36364em;
}

/* line 14, ../../scss/_typography.scss */
h3 {
  font-size: 1.9em;
  line-height: 1.57895em;
}

/* line 15, ../../scss/_typography.scss */
h4 {
  font-size: 1.6em;
  line-height: 1.875em;
}

/* line 16, ../../scss/_typography.scss */
h5 {
  font-size: 1.3em;
  line-height: 2.30769em;
}

/* line 17, ../../scss/_typography.scss */
h6 {
  font-size: 1.1em;
  line-height: 1.36364em;
}

/* line 19, ../../scss/_typography.scss */
dt {
  font-weight: 700;
}

/* line 21, ../../scss/_typography.scss */
strong {
  font-weight: 700;
}

/* line 25, ../../scss/_typography.scss */
#navbar-main-menu {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 25, ../../scss/_typography.scss */
  #navbar-main-menu {
    margin-bottom: 1em;
  }
  /* line 30, ../../scss/_typography.scss */
  #navbar-main-menu .active-trail a {
    border-bottom: dotted 1px #a2cd00;
  }
}

/* line 37, ../../scss/_typography.scss */
main {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
}
/* line 40, ../../scss/_typography.scss */
main h1 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  text-align: center;
}
/* line 44, ../../scss/_typography.scss */
main h1, main h2, main h3, main h4, main h5, main h6 {
  text-transform: uppercase;
}
/* line 47, ../../scss/_typography.scss */
main p {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 50, ../../scss/_typography.scss */
main dl {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 54, ../../scss/_typography.scss */
main.page {
  font-weight: 300;
}
/* line 56, ../../scss/_typography.scss */
main.page h1 {
  font-weight: 400;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
}
/* line 62, ../../scss/_typography.scss */
main.page .content .field-name-field-page-intro {
  font-size: 1.1875em;
  line-height: 1.89474em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  border-bottom: solid 1px #405200;
}
/* line 67, ../../scss/_typography.scss */
main.page .content .field-name-field-page-intro p {
  font-weight: 400;
}
/* line 71, ../../scss/_typography.scss */
main.page .content .field-name-body {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 74, ../../scss/_typography.scss */
main.page .content article.equipo {
  text-align: center;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 77, ../../scss/_typography.scss */
main.page .content article.equipo img {
  display: block;
  width: 100%;
  max-width: 100%;
}
/* line 82, ../../scss/_typography.scss */
main.page .content article.equipo .caption {
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  width: 100%;
  background-color: rgba(162, 205, 0, 0.2);
}
/* line 88, ../../scss/_typography.scss */
main.page .content article.equipo .caption h1, main.page .content article.equipo .caption h2 {
  font-size: 1em;
  line-height: 2.25em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 99, ../../scss/_typography.scss */
main .view-news {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 101, ../../scss/_typography.scss */
main .view-news .views-row {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 107, ../../scss/_typography.scss */
footer {
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  font-weight: 300;
}
/* line 111, ../../scss/_typography.scss */
footer .block {
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  border-bottom: dotted 1px #718f00;
}
@media (min-width: 768px) {
  /* line 111, ../../scss/_typography.scss */
  footer .block {
    border-bottom: none;
    border-right: dotted 1px #718f00;
  }
}
/* line 119, ../../scss/_typography.scss */
footer .block h2 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.2em;
}

/* line 6, ../../scss/screen.scss */
.navbar {
  margin-bottom: 0;
}

/* line 9, ../../scss/screen.scss */
.navbar-header {
  padding-bottom: 50px;
}
/* line 11, ../../scss/screen.scss */
.navbar-header .navbar-brand {
  padding: 0;
  width: 25%;
}

@media (min-width: 768px) {
  /* line 21, ../../scss/screen.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 27, ../../scss/screen.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
